
@{
    ViewData["Title"] = "NadolazeciFilmovi";
}

<body style="background-color:powderblue;">
    </body>
    <h2>Filmovi u najavi</h2>
    <br />

    <table style="width:55%;">
        <tr>
            <td>Dugi iz kamenog doba <img src="~/images/slika1.jpg" alt="ASP.NET" class="img-responsive" style="width:60%;" /></td>
            <td>Muzej čudesa <img src="~/images/slika2.jpg" alt="ASP.NET" class="img-responsive" style="width:60%;" /></td>
            <td>Skrivena ljubav <img src="~/images/slika3.jpg" alt="ASP.NET" class="img-responsive" style="width:60%;" /></td>

        </tr>
        <tr>
            <td>Ja. Tonya <img src="~/images/slika4.jpg" alt="ASP.NET" class="img-responsive" style="width:60%;" /></td>
            <td>Velika igra<img src="~/images/slika5.jpg" alt="ASP.NET" class="img-responsive" style="width:60%;" /></td>
            <td>Čudo<img src="~/images/slika6.jpg" alt="ASP.NET" class="img-responsive" style="width:60%;" /></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
