@{
    ViewData["Title"] = "O nama";
}
<h2>@ViewData["Title"]</h2>
<body style="background-color:powderblue;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/8zy4yvHAtfc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</body>
<br />


    <strong>CINMOVIE</strong> 
    <br />
    <br />

    <p>
        Povijest

        Cine Movie grupa svoje početke bilježi još davne 1948. godine, kada je tvrtka Kieft & Kieft Filmtheater GmbH otvorila svoje prvo klasično kino videoteke u Lübecku u Njemačkoj.
        Nakon više od četiri desetljeća rada, 1993. godine otvaraju svoj prvo Cine Movie multipleks kino videoteke u Njemačkoj i započinju sa širenjem po cijeloj Europi.
        Nekad mala obiteljska tvrtka Kieft & Kieft je danas dio Cine Movie grupe – sa više od 100 multipleksa u više evropskih zemalja.

</p>       
<br />
<p>
    Cine Movie Hrvatska

        Zajedničkim ulaganjem najvećeg njemačkog kinoprikazivača, tvrtke Kieft & Kieft te Blitz film i video distribucije, vodećeg distributera filmova u Hrvatskoj i državama bivše Jugoslavija,
        2003. godine je osnovana tvrtka Blitz-Cine Movie koja otvara prvo i najveće multipleks kino videoteka u Hrvatskoj – Cine Movie Zagreb.
        Danas je CineStar lanac u Hrvatskoj rasprostranjen u 10 gradova
        (4x u Zagrebu, Rijeka, Zadar, Šibenik, 2x u Splitu, Osijek, Varaždin, Dubrovnik, Slavonski Brod i Vukovar), odnosno na 14 lokacija.
    </p>
<br />
<p>

        Cine Movie – najveći i vodeća videoteka u regiji

        Blitz-Cine Movie započinje svoje širenje izvan granica Hrvatske 2012. godine, otvaranjem Cine Movie multipleks kina videoteka u Bosni i Hercegovini, i to u gradu Mostaru.
        Slijedi otvaranje Cine Movie-a i u Bihaću 2014. godine te Tuzli 2016. godine.
        Kaptol Boutique Cinema 2017. godine konkretan je odgovor na potrebe pravih filmofila koji od kina traže više nego što nude klasični multipleksi.

        Danas, Cine Movie grupa u regiji (Hrvatska, Bosna i Hercegovina, Srbija) ubraja 20 CineStar multipleks kina, 129 kino dvorana, preko 20.000 sjedala,
        što s očekivanih gotovo četiri milijuna posjetitelja godišnje čini Cine Movie najvećim i najuspješnijim kinoprikazivačem u regiji.

  </p>
    <br />


