@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>

<body style="background-color:powderblue;">
    

</body>

<hr/>
<address>
    Cine Movie<br />
    Zagreb, 10 000 <br />
    Franje Asiški 5<br />
    <abbr title="Phone"></abbr>
    01 656565
</address>
<br />
<p>
    <h2>Radno vrijeme</h2>
</p>
<p>
    <hr /> <em>Radno vrijeme za telefonske pozive:</em> 
</p>
<p>
    ponedjeljak - petak od 13:00h do 22:00h
</p>
<p>
    subota - nedjelja od 10:00h do 22:00h
</p>
<p>
    blagdanom i praznikom od 10:00h do 22:00h
</p>
<address>
    <strong>Support:</strong> <a href="mailto:cinemovie@example.com">cinemovie@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:cinemovie@example.com">cinemovie@example.com</a>
</address>
