@model IEnumerable<Priprema1.Models.zanr>

@{
    ViewData["Title"] = "Kalendar najave filomva";
}

<h2>Kalendar najave filomva</h2>
<br />


<body style="background-color:powderblue;">

    <iframe src="https://calendar.google.com/calendar/embed?src=dq3slr1cm8f6rklnkah080r42g%40group.calendar.google.com&ctz=Europe%2FBelgrade" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</body>